TPSIT/XML/stelle/stelle.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Astri">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Stella" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ID" type="xs:decimal" />
                            <xs:element name="Nome" type="xs:string" />
                            <xs:element name="Luminosita" type="xs:string" />
                            <xs:element name="Abbreviazione" type="xs:string" />
                            <xs:element name="Genitivo" type="xs:string" />
                            <xs:element name="Costellazione" type="xs:string" />
                            <xs:element name="Significato" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>