TPSIT/XML/ricetta/ricetta.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ricettario">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ricetta" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titolo" />
                            <xs:element name="autore" />
                            <xs:element name="ingredienti">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nome"/>
                                        <xs:element name="quantita"/>
                                        <xs:element name="unita" type="xs:integer"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="procedura">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="procedo" maxOccurs="unbounded" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>             
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>