TPSIT/XML/fenomeni/fenomeni.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="fenomeni">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="rilevazione" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="mese" type="xs:string" />
                            <xs:element name="giorno" type="xs:decimal" />
                            <xs:element name="ora" type="xs:decimal" />
                            <xs:element name="langitudine" type="xs:string" />
                            <xs:element name="longitudine" type="xs:string" />
                            <xs:element name="magnitudo" type="xs:decimal" />
                            <xs:element name="profondita" type="xs:decimal" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>